.my_layui-form-label{
    line-height: 38px;
}
.readonly{
    background: 0 0!important;
    color: #c2c2c2;
    border: none;    
}
#headimg{
    max-height: 40px;
    max-width: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.layui-form-radio>i:hover, .layui-form-radioed>i{
    color: #1E9FFF;
}
@media (min-width: 768px){
    .my_layui-form-label{
        text-align: right;
    }
}