@charset "utf-8";
.layui-fluid{
    .layui-card-body{
        form{
            .layui-form-item{
                display: inline-block;
                label{
                    display: inline-block;
                    width: auto;
                    padding-left: 0;
                }
                .layui-input-inline{
                    width: 100px;
                }
            }
        }
    }
}
